*

!.gitignore

!.bashrc
!.profile

!.config/
!.config/**
.config/procps/
.config/pulse/
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks

!.local/
!.local/bin/
!.local/bin/**
!.local/share/
!.local/share/applications/
!.local/share/applications/**

!.gnupg/
!.gnupg/gpg-agent.conf

!.ssh/
!.ssh/config
