*

!.gitignore

!.bashrc
!.bash_profile

!.config/
!.config/**
.config/QtProject.conf
.config/go/
.config/procps/
.config/pulse/
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks
.config/torbrowser/
.config/whoozle.github.io/
.config/systemd/user/default.target.wants/
.config/bw/

!.local/
!.local/bin/
!.local/bin/**
!.local/share/
!.local/share/applications/
!.local/share/applications/**

!.gnupg/
!.gnupg/gpg-agent.conf

!.ssh/
!.ssh/config
